
$primary: #D6342E;
$font-family-sans-serif: 'Open Sans', sans-serif;;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$box-shadow: 0 .5rem 1rem rgba($primary, .15);
$box-shadow-lg: 0 1rem 3rem rgba($primary, .175);
$box-shadow-sm: 0 .125rem .25rem rgba($primary, .075);