
$primary: #D6342E;
$font-family-sans-serif: 'Open Sans', sans-serif;;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;